<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycomp.repository.PostgresDBAccessMapper">
<select id="getUsers" resultType="com.mycomp.api.model.User">
	SELECT ID, USER_ID AS USERID,NAME AS USERNAME,EMAIL FROM ${PG_SCHEMA}.APP_USER
</select>
</mapper>